.t_TopBar {
  display: flex;
  align-items: center;

  .nav-item {
    display: flex;
    align-items: center;
    font-size: $body_sm;
    padding: 2px 4px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $light_blue;
    }
  }
}