.t_sortableItem {
  padding: 4px;
  border: 1px solid $light_blue;
  background-color: $white;
  border-radius: 2px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  &_Title {
    font-size: $body_sm;
    padding-bottom: 6px;
  }

  &_Tag {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 6px;
  }

  &Footer {
    display: flex;
    justify-content: space-between;

    &_Due {
      font-size: $body_sm;
      color: $gray_200;
    }
  }
}