.t_SortableList {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;

  &Column {
    width: 20rem;
    flex-basis: 30%;
    border: 1px solid $light_blue;
    padding: 4px;

    &_Title {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 600;
      padding-bottom: 8px;
    }

    &_Badge {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      font-size: 0.6rem;
      line-height: 0.6rem;
    }
  }
}