.t_ShortName {
  text-transform: uppercase;
  border-radius: 50%;
  background-color: $blue_300;
  border: 1px solid $blue_300;
  color: $white;
  width: 22px;
  font-size: $body_sm;
  padding: 1px;
  height: 22px;
  font-weight: 600;
  text-align: center;
}