.t_ShortName {
  border-radius: 50%;
  background-color: $blue_300;
  border: 1px solid $blue_300;
  color: $white;
  width: 22px;
  font-size: 0.7rem;
  padding: 1px;
  height: 22px;
  font-weight: 600;
}