/*
COLORS
*/

$blue_500: #1A4163;
$blue_200: #275E90;
$blue_300: #3073B0;

$light_blue: #dee2e6;

$gray_200: #8b9196;

$green_200: #76AC1F;

$white: #FFFFFF;

/*
FONT SIZES
*/

$body: 1rem;
$body_sm: 0.8rem;
